body {
    background: #EEF2FF url(/Content/Images/base/blue-gradient.png) top center repeat-x;
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}
#boards a {
    text-decoration: none;
}

li {
    list-style: none;
}

div.post div.postInfo span.nameBlock span.name {
    color: #117743;
    font-weight: bold;
}

div.post div.postInfo span.postNum a {
    text-decoration: none;
    color: #000000;
}

a, a:visited {
    color: #34345C;
    text-decoration: none;
}

element {

}
div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover {

    color: #DD0000 !important;

}

element {

}
div.thread > div:nth-of-type(2) > div.reply {

    margin-top: 2px !important;

}
div.reply {

    background-color: #D6DAF0;
    border: 1px solid #B7C5D9;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;

}

div.post {
    margin: 4px 0;
    overflow: hidden;
}

div.post div.postInfo span.subject {
    color: #0F0C5D;
    font-weight: bold;
}

div#boardNavDesktop a {
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
    color: #34345C;
}

div#boardNavDesktop {
    font-size: 9pt;
}

#navright {
    float: right;
}

div#absbot {
    text-align: center;
    font-size: x-small !important;
    color: #000;
}

div.boardBanner > div.boardTitle {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0px;
}
div.boardBanner {
    text-align: center;
    color: #AF0A0F;
}

hr {
    border: none;
    border-top: 1px solid #B7C5D9;
    height: 0;
}

/* input form */

#postForm {
    width: 468px;
}

table {
    border-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

table.postForm > tbody > tr > td:first-child {
    background-color: #9988ee;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 0 5px;
    font-size: 10pt;
}

td {
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
}

table.postForm > tbody > tr > td > input[type="text"] {
    width: 244px;
}

input[type="text"],
input[type="password"],
textarea {
    -webkit-border-radius: 0;
}

input[type="text"],
input[type="password"],
table.postForm > tbody textarea,
#recaptcha_response_field {
    margin: 0px;
    margin-right: 2px;
    padding: 2px 4px 3px 4px;
    border: 1px solid #aaaaaa;
    outline: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
}

#postForm textarea {
    width: 292px;
}


/* images */

div.post div.file .fileThumb img {
    border: none;
    float: left;
}

div.post div.file .fileThumb {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}
div.post div.file {
    display: block;
}

blockquote.postMessage {
    display: block;
}

// linking to other posts
.quoteLink, .quotelink, .deadlink {
    color: #D00 !important;
    text-decoration: underline;
}

.deadlink {
    text-decoration: line-through !important;
}
