<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" media="screen" href="~/content/css/blueish.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        @{Html.RenderAction("BoardListing", "Boards");}
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        @{Html.RenderAction("BoardListing", "Boards");}
        <div id="absbot" class="absBotText">
            <span class="absBotDisclaimer">
                All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
            </span>
        </div>
    </div>
</body>
</html>
